---
interface link {
  name: string;
  href: string;
}

const links: link[] = [
  { name: "Acerca de mi", href: "#about" },
  { name: "Proyectos", href: "#projects" },
  { name: "Contactame", href: "#contact" },
];
---

<nav class="sticky top-0 flex justify-center p-2 z-10">
  <div
    class="flex items-center gap-4 bg-slate-900/90 py-1 px-3 rounded-full min-w-max"
  >
    {
      links.map((link) => (
        <a
          href={link.href}
          class="text-white text-sm font-bold hover:text-yellow-500"
        >
          {link.name}
        </a>
      ))
    }
  </div>
</nav>
